<div class="col-lg-10 col-lg-offset-1" >
   <div class="row">
     <div class="col-lg-8">
       <div id="candidate-onboarding" class="container">
        <div class="row">
          <div class="sheet col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2">
            <div ng-controller="candidateProfileCtrl" class="">
                <div class="candidate-onboard-step-one candidate-onboard-step" ng-init="showStep(1)" ng-show="onboarding_steps[1]">
                    <div class="row  ng-valid"  enabled="false" auctioned-editor="">
                        <div class="heading text-center">
                            <h3>Step 1/4: Add your skills</h3>
                               
                                <p>
                                    Hi Mohammad! We just need some quick info about your ideal job.
                                </p>
                            
                        </div>
                        <div class="candidate-onboard-step-wrap col-md-10 col-sm-12 col-md-offset-1">
                            <div class="form-group">
                                <label>Select your <i>current</i> role:</label>
                                <div class="row">
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <select class="form-control  ng-valid"  form-name="candidate_skills" name="job_function" ng-change='getSkills()' ng-model='candidateRole' show-focus="onboarding_steps[1]">
                                        <optgroup label="Software Engineering">
                                        <option value="Android Development">Android Development</option><option value="Backend Development">Backend Development</option><option value="Database Administration">Database Administration</option><option value="Frontend Development">Frontend Development</option><option value="=Full-Stack Development">Full-Stack Development</option></optgroup></select>
                                    </div>
                                </div>
                                <div>
                                    <div class="profile-content">
                                        <form action="skills_submit"  accept-charset="utf-8" class=" ng-valid">
                                            <!-- ngIf: candidate.jsp.job_function.resource_uri && primarySkills --><div form-name="candidate_skills"  name="primary_skills" auctioned-field="" style="margin-top: 20px;" class="">
                                                <div>
                                                    <label>Which of these do you have <i>strong, professional</i> experience with?</label>
                                                    <div child="true">
                                                        <!-- ngRepeat: skill in primarySkills -->
                                                        <div class="checkbox col-3 " ng-repeat="skill in primarySkills">
                                                            <label>
                                                                <input type="checkbox"  ng-model='skillName[skill.name]'> {{skill.name}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                             </div>
                         </div>
                        <div class="onboard-next-container col-xs-12 text-right">
                            <button id="candidate-jsp-next-btn-1" type="submit" class="btn btn-primary save onboard-next-button" ng-click="onBoardingSkillSave()">Next</button>
                        </div>
                    </div>
                </div>
<!-- ==============================================STEP2====================================== -->
          <div class="candidate-onboard-step-two candidate-onboard-step ng-hide" ng-show="onboarding_steps[2]">
                    <div class="row  ng-valid" ng-model="candidate.jsp" api-url="/api/v1/candidate_jsp/29006" editor-model="preference_editor" enabled="false" auctioned-editor="">
                        <div class="heading text-center">
                            <h3>Step 2/4: Specify job search preferences</h3>
                            <p>This will allow us to find highly relevant jobs for you.</p>
                        </div>
                        <div class="candidate-onboard-jsp candidate-onboard-step-wrap col-md-10 col-sm-12 col-md-offset-1">
                            <div class="onboard-jsp-form profile-content">
                                <form class="ng-valid">
                                    <div class="form-group">
                                        <label>Where are you currently located?</label>
                                        <div child="true">
                                            <!-- ngRepeat: location in CANDIDATE_CURRENT_LOCATIONS -->
                                            <div class="radio col-3 " >
                                                <label class="ng-binding" ng-repeat='curLoc in currentLocation'>
                                                    <input type="radio" ng-value='true'  ng-model="curLoc.isEnable">
                                                      {{curLoc.name}}     
                                                </label>
                                            </div><!-- end ngRepeat: location in CANDIDATE_CURRENT_LOCATIONS --><!-- end ngRepeat: location in CANDIDATE_CURRENT_LOCATIONS -->
                                        </div>
                                        </div>
                                        <!-- Invisible input field to display current location related form error -->
                                        <!-- ngIf: candidate.jsp.current_location === 'Other' -->
                                    </div>

                                    <div class="form-group">
                                        <div name="location_preferences" form-name="candidate_jsp">
                                            <label>Where do you want to work?</label>
                                            <div>
                                               <label class="ng-binding" ng-repeat='curLoc in currentLocation'>
                                                    <input type="radio" ng-value='true'  ng-model="curLoc.isprefLocation">
                                                      {{curLoc.name}}     
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>What is your current annual salary? Don't specify offer in hand here.</label>
                                        <div class="row">
                                            <div class="col-sm-5 col-xs-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon">Rs.</span>
                                                    <input type="text" class="form-control text-right  ng-valid" placeholder="e.g. 12.5" name="current_salary" form-name="candidate_jsp" ng-model="currentSalary">
                                                    <span class="input-group-addon">LPA</span>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>

                                    <div class="form-group">
                                        <label>How soon can you start working after accepting an offer?</label>
                                        <div class="row">
                                            <div class="col-sm-5 col-xs-12">
                                                <select class="form-control  ng-valid" ng-model="noticePeriod" name="notice_period"><option value="? object:null ?"></option>
                                                    <option value="0">Immediately</option>
                                                    <option value="15">15 days</option>
                                                    <option value="1">1 month</option>
                                                    <option value="2">2 months</option>
                                                    <option value="3">3 months</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="form-group">
                                        <label>Why are you interested in new job opportunities?</label>
                                        <div class="row">
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <select class="form-control  ng-valid" form-name="candidate_jsp" auctioned-field="" name="reason_for_change" id="reason_for_change" ng-model="candidate.jsp.reason_for_change"><option value="? object:null ?"></option>
                                                    
                                                        <option type="option" value="0"> Happy with work but looking for better pay </option>
                                                    
                                                        <option type="option" value="1"> Looking for better work, don't need much pay hike </option>
                                                    
                                                        <option type="option" value="2"> Unhappy with both work and pay </option>
                                                    
                                                        <option type="option" value="3"> Want to relocate to another city </option>
                                                    
                                                        <option type="option" value="4"> Not looking for new opportunities </option>
                                                    
                                                        <option type="option" value="5"> Specify a different reason </option>
                                                    
                                                </select>
                                            </div>
                                        </div>
                                    </div> -->

                                    <!-- ngIf: candidate.jsp.reason_for_change == 5 -->
                                 </form>
                             </div>
                         </div>
                        <div class="onboard-next-container col-xs-12 text-right">
                            <button id="candidate-jsp-next-btn-2" type="submit" class="btn btn-primary save onboard-next-button" ng-click="SkillSave()">Next</button>
                            <button id="candidate-jsp-back-btn-2" class="btn btn-default onboard-back-button pull-left" ng-click="showStep(1)">Back</button>
                        </div>
                     </div>
                </div>
</div>

                                    </div>
                                 </form>
                             </div>
                         </div>
                    </div>
                   
                </div>

                <div class="candidate-onboard-step-four candidate-onboard-step ng-hide" ng-show="onboarding_steps[4]">
                    <div class="row">
                        <div class="heading text-center">
                            <h3>Step 4/4: Almost there!</h3>
                            <p>Just tell us your contact and privacy options.</p>
                        </div>
                        <div class="candidate-onboard-jsp candidate-onboard-step-wrap col-md-10 col-sm-12 col-md-offset-1">
                            
                            <div class="onboard-jsp-form profile-content">
                                <form class="ng-valid ng-dirty">
                                    <div class="form-group">
                                        <label>Select your privacy setting:</label>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" ng-value="false" ng-model="addtional_preferences.is_private" class=" ng-valid" name="007" value="false">
                                                Allow all companies to see my profile except those I block below
                                            </label>
                                            <label>
                                                <input type="radio" ng-value="true" ng-model="addtional_preferences.is_private" class=" ng-valid" name="008" value="true">
                                                Only companies I select and apply to can see my profile
                                            </label>
                                        </div>
                                        <!-- Invisible input field to display is_private related form error -->
                                        <input form-name="candidate_addtnl_jsp" auctioned-field="" name="is_private" id="is_private" type="hidden">
                                    </div>

                                    <div class="form-group current-job-title candidate-block-companies" ng-show="!addtional_preferences.is_private">
                                        <label>Block the following companies from seeing my profile:</label>
                                        <div class="row">
                                            <div class="col-sm-10 col-xs-12">
                                                <div class="input-group">
                                                    <div class="candidate-block-companies">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="block-companies-input form-control ng-isolate-scope" ng-click="focusBlockField()" click-outside="showSuggestion = false">
                                                                    <div class="entered-companies">
                                                                        <!-- ngRepeat: company in addtional_preferences.companies_to_block -->
                                                                        <li class="enter-company">
                                                                            <input type="text" id="block-company-field" class="form-control  ng-valid" placeholder="e.g. Amazon" ng-model="candidate.company_to_block" name="company_to_block" ng-keydown="blockInputKeydown($event)" show-focus="onboarding_steps[4]" ng-focus="showSuggestions = true">
                                                                        </li>
                                                                    </div>
                                                                </div> 
                                                                <div class="company-suggestions ng-hide" ng-show="showSuggestions">
                                                                    <!-- ngRepeat: item in blockCompanies track by item.slug -->
                                                                </div> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-left form-group">
                                        <label>
                                            What's your mobile number?
                                        </label>
                                        <input form-name="candidate_addtnl_jsp" class="form-control ng-valid ng-dirty" auctioned-field="" name="phone" id="phone" ng-model="addtional_preferences.phone" value="" placeholder="e.g. 99999999" bound-value="">
                                    </div>

                                    <div class="text-left form-group">
                                        <label>
                                            Enter your Skype ID, if you have one:
                                        </label>
                                        <input form-name="candidate_addtnl_jsp" class="form-control ng-valid ng-dirty" auctioned-field="" name="skype_id" id="skype_id" ng-model="addtional_preferences.skype_id" value="" placeholder="e.g. johndoe12" maxlength="32" bound-value="">
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- <div class="onboard-next-container col-xs-12 text-right">
                            <button id="candidate-jsp-submit-complete" type="submit" class="btn btn-primary save onboard-next-button" ng-click="onBoardingAddtnlJSPSave()">Submit</button>
                            <button id="candidate-jsp-back-btn-4" class="btn btn-default onboard-back-button pull-left" ng-click="showStep(3)">Back</button>
                        </div> -->

                    </div>
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>