<div class="col-lg-10 col-lg-offset-1" ng-controller="myAppCtrl">
   <div>
   <label>Search: <input ng-model="f.friutName"></label>
   <table class="table table-bordered">
   <thead class="thead-default tab-head">
    <tr>
      <th><span></span></th>
      <th><span></span></th>
      <th><span></span></th>
      <th><span class="glyphicon glyphicon-shopping-cart"></span></th>
    </tr>
  </thead>
  <tbody>
    <!--  <tr ng-repeat="items in product | filter:f">
        <td><img class="fruit-icon" src="{{items.icons}}"/></td>
       <td class="product-name"><span>{}</span><div>{{items.description}}</div></td>
      <td><span>{{items.price}}</span></td>
      <td><a class="btn-link" href="#/product/{{items.friutName}}">View Details</a></br><input type="button" class="btn-primary" ng-disabled ="items.addedToCart" value="Add to cart" ng-click="addToCart($index)"/></td>
     </tr> -->
     </tbody>
     <tfoot class="thead-default tab-head">
    <tr>
      <th><span></span></th>
      <th><span></span></th>
      <th><span></span></th>
      <!-- <th><span class="glyphicon glyphicon-shopping-cart">items:{{productQuant}}</span></th> -->
    </tr>
  </tfoot>
   </table>
      
   </div>
  </div>
<div class = "container">
   <div class = "row" >
   
      <div class = "col-xs-6 col-sm-3" style = "background-color: #dedef8;
         box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
         
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      
      <div class = "col-xs-6 col-sm-3" style = "background-color: #dedef8;
         box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
         
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
            enim ad minim veniam, quis nostrud exercitation ullamco laboris 
            nisi ut aliquip ex ea commodo consequat.</p>
         
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
            eiusmod tempor incididunt ut.</p>
      </div>

      <div class = "clearfix visible-xs"></div>
      
      <div class = "col-xs-6 col-sm-3" style = "background-color: #dedef8;
         box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
         
         <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      
      <div class = "col-xs-6 col-sm-3" style = "background-color: #dedef8;
         box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
         
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
            enim ad minim</p>
      </div>
      
   </div>
</div>