<div id="login">

    <div class="container ng-scope" ng-controller="loginCtrl">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-4 col-sm-offset-3">
                <div class="form-group">
                    <a id="login-linkedin" href="/login/linkedin-oauth2/" rel="nofollow" class="btn btn-success btn-lg btn-shadow btn-home">
                        <i class="fa fa-linkedin"></i>Sign in with LinkedIn
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</div>